body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    background-color: dodgerblue;
    padding: 5px 25%;
    border-bottom: 1px solid lightgray;
    color: white;
}

main {
    margin: 50px 0;
    padding: 5px 25%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

footer {
    height: 50px;
    margin: 0;
    background-color: dodgerblue;
    padding: 25px 25%;
    border-top: 1px solid lightgray;
    text-align: center;
    color: white;
}